{
  "presets": [
    [
      "es2015",
      {
        "modules": false
      }
    ],
    "react"
  ],
  "plugins": [
    "transform-inline-imports-commonjs"
  ],
  "env": {
    "production": {
      "presets": [
        "es2015",
        "react",
        "react-optimize"
      ]
    }
  }
}